<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="style4.css"> {% endcomment %}
    <style>{% include "style4.css" %}</style>
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <h2>Artstock Contact Us form</h2>
        

        <form method="POST">{% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
            <div class="row100">
                <div class="col">
                   <div class="inputBox">
                     <input type="text" name="firstname" required="required">
                        <span class="text">First Name</span>
                        <span class="line"></span>
                 </div>
              </div>
             <div class="col">
                    <div class="inputBox">
                      <input type="text" name="lastname" required="required">
                      <span class="text">Last Name</span>
                      <span class="line"></span>
                  </div>
               </div>
           </div>


          <div class="row100">
               <div class="col">
                  <div class="inputBox">
                     <input type="text" name="email" required="required">
                     <span class="text">Email</span>
                     <span class="line"></span>
                 </div>
              </div>
              <div class="col">
                 <div class="inputBox">
                     <input type="text" name="phone" required="required">
                     <span class="text">Mobile Number</span>
                        <span class="line"></span>
                  </div>
               </div>
         </div>


          <div class="row100">
             <div class="col">
                 <div class="inputBox textarea">
                        <textarea required="required" name="text"></textarea>
                        <span class="text">Type Your Message Here...</span>
                        <span class="line"></span>
                 </div>
             </div>
          </div>


          <div class="row100">
             <div class="col">
                 <input type="submit" value="send">
             </div>
          </div>
        </form>
        </div>
    </section>
</body>
</html>